.fake-load {
  position: relative;
  z-index: 51;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.circle-load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 8px solid transparent;
  animation: spin 2s linear infinite;
}

.circle-load.sm-load {
  width: 60px;
  height: 60px;
  border-top-color: white;
  animation-direction: normal;
}

.circle-load.md-load {
  width: 80px;
  height: 80px;
  border-bottom-color: white;
  animation-direction: reverse;
}

.circle-load.lg-load {
  width: 100px;
  height: 100px;
  border-bottom-color: white;
  animation-direction: normal;
}

.circle-load.xl-load {
  width: 120px;
  height: 120px;
  border-top-color: white;
  animation-direction: reverse;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
