.class {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #171717;
}

/* Section 1 */

.cntr-list__class {
  width: 250px;
  height: 100%;
}

.subcntr-list__class {
  width: 100%;
  height: 100%;
  /* background-color: #262626; */
  background-color: #000000;
}

.title__class {
  display: flex;
  width: 100%;
  color: white;
  font-size: 28px;
  font-weight: bold;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.list-item__class {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #ffffff;
  display: flex;
  height: 40px;
  font-size: 18px;
  color: white;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 4px;
}

.list-item__class:not(.locked_class):hover {
  cursor: pointer;
  transition: 250ms;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 20px 2px rgba(114, 114, 114, 0.75);
}


/* Section 2 */

.cntr-video__class {
  display: flex;
  width: 70%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subcntr-video__class {
  width: 80%;
  height: 40rem;
  margin: 10px;
}

.video__class {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.description__class {
  width: 80%;
  height: fit-content;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  margin: 20px;
}

.subtitle__class {
  color: white;
  margin-bottom: 8px;
}

.text__class {
  color: rgb(201, 201, 201);
}

.profile__class {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
}

/* Section 3 */

.cntr-comment__class {
  width: 20%;
  height: 100%;
  padding: 10px;
  background-color: rgb(0, 0, 0);
}

.form__class {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-bottom: 20px;
  border-bottom: 2px solid white;
  padding-bottom: 20px;
}

.textarea__class {
  width: 100%;
  height: 10rem;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.btn__class {
  width: 80px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 6px;
  color: black;
  border: 2px solid white;
}

.btn__class:hover {
  background-color: black;
  cursor: pointer;
  color: white;
  transition: 250ms;
}

.comment__class {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 10px;
  flex-direction: column;
  margin-bottom: 10px;
}

.comment-item__class {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
  padding: 10px;
}

.subtitle__comment {
  color: white;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}


.locked_class {
  color: #333;
}

.locked_class::after {
  content: "";
  position: absolute;
  background: #ffffff;
  backdrop-filter: blur(3px);
  pointer-events: none;
  inset: 0;
  opacity: 0.30;
  z-index: 1;
}

@media (min-width: 1153px) {}

@media (min-width: 769px) and (max-width: 1152px) {}

@media (max-width: 768px) {
  .class {
    flex-direction: column;
    height: fit-content;
  }

  .cntr-list__class {
    width: 100%;
    height: fit-content;
    padding: 0px 0px 10px 0px;
  }

  .title-btn__class {
    display: flex;
    width: 90%;
    height: 40px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    background-color: rgb(32, 32, 32);
    border: none;
    border-radius: 6px;
    color: white;
    border: 2px solid rgb(122, 122, 122);
    font-weight: bold;
  }

  .title-btn__class:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    transition: 250ms;
  }

  .cntr-video__class {
    display: flex;
    width: 100%;
    height: fit-content;
  }

  .subcntr-video__class {
    width: 100%;
    height: fit-content;
  }

  .video__class {
    border-radius: 0px;
  }

  .description__class {
    width: 95%;
    margin: 8px;
  }

  .cntr-comment__class {
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .form__class {
    flex-direction: row;
    justify-content: space-around;
  }

  .textarea__class {
    width: 70%;
    height: 40px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
}