.section__register {
  position: relative;
  display: flex;
  width: 100%;
  height: 100dvh;
  background-color: rgb(14, 14, 14);
}

/* ------------ IMG ------------ */

.cntr-link__register {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.link__register {
  position: relative;
  display: flex;
  width: 0;
  flex-grow: 1;
  opacity: 50%;
  justify-content: center;
  align-items: start;
  padding-top: 170px;
  overflow: hidden;
  transition: 0.5s ease;
  text-decoration: none;
}

.link__register:hover {
  width: 300px;
  opacity: 100%;
  filter: contrast(120%);
}

.img__register {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* ------------ MENU ------------ */

.cntr-menu__register {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 40px 0px 80px 0px;
  pointer-events: none;
  z-index: 2;
}

.cntr-title__register {
  display: flex;
  font-size: 24px;
  width: 40%;
  height: 60px;
  color: black;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 8px;
  pointer-events: auto;
}

.alt-cntr-title--design {
  background: black;
}

.cntr-text__register {
  display: flex;
  width: auto;
  height: fit-content;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: black;
  padding: 10px 10px;
  border-radius: 8px;
  pointer-events: auto;
}

.text--color {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(228, 228, 228, 0.5);
}

.neon-text--color {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(228, 228, 228, 0.5);
}

.index--position {
  z-index: 2;
}

@media (min-width: 1153px) {
}

@media (min-width: 769px) and (max-width: 1152px) {
}

@media (max-width: 768px) {
  .section__register {
    justify-content: center;
    align-items: center;
  }

  .cntr-link__register {
    height: 90%;
    flex-direction: column;
  }

  .link__register {
    width: 100%;
    height: 0;
    justify-content: center;
    align-items: start;
    padding-top: 40px;
    transition: 0.5s ease;
    text-decoration: none;
  }

  .link__register:hover {
    width: 100%;
    height: 300px;
    opacity: 100%;
    filter: contrast(120%);
  }

  .cntr-title--responsive {
    width: 100%;
    border-radius: 0px;
  }

  .cntr-text__register {
    width: 100%;
    border-radius: 0px;
  }

  .cntr-menu__register {
    padding: 0px 0px 0px 0px;
  }
}
