/* Seccion nav */

.nav {
  position: relative;
  display: flex;
  width: 100%;
  height: 4rem;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  z-index: 31;
  top: 0;
  left: 0;
  background: url(../../assets/img/fondo_nav.webp), #000;
}

.logo {
  max-width: 40px;
}

.list__nav {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 4rem;
}

.item__nav {
  font-size: 20px;
  font-weight: bold;
}

.item__nav:hover {
  border-bottom: 1px solid white;
}

.login__nav {
  color: #000;
  font-weight: 800;
  width: 80px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 2px solid #000;
  background-color: rgba(255, 255, 255, 0);
  transition: 2s all ease;

  animation: scroll-animation-login linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 100px;
}

@keyframes scroll-animation-login {
  to {
    border: 2px solid #fff;
    color: #fff;
  }
}

.login__nav:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
  transition: 0.4s;

  animation: scroll-animation-login-hover linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 100px;
}

@keyframes scroll-animation-login-hover {
  to {
    color: #000;
    border: 2px solid #ffc702;
    background-color: #ffc702;
  }
}

.a-linear__nav {
  position: relative;
  text-decoration: none;
  color: #000;
  font-weight: 800;

  animation: scroll-animation-a linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 100px;
}

@keyframes scroll-animation-a {
  to {
    color: #fff;
  }
}

.a-linear__nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  font-weight: 800;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);

  animation: scroll-animation-a-after linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 100px;
}

@keyframes scroll-animation-a-after {
  to {
    background: #fff;
  }
}

.a-linear__nav:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
}

/* ---------------------------Info User---------------------------- */

.button__button-nav {
  display: flex;
  width: fit-content;
  height: 85%;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  color: transparent;
  font-weight: bold;
  padding: 0px 8px;
}

.button__button-nav:hover {
  background-color: #131313;
  color: white;
  transition: 250ms;
  border: 1px solid white;
}

.cntr-img__button-nav {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 2px;
  overflow: hidden;
}

.img__button-nav {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-user {
  position: absolute;
  display: none;
  min-width: 250px;
  width: fit-content;
  min-height: fit-content;
  height: fit-content;
  top: 100%;
  right: 2%;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgb(19, 19, 19);
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 4px 4px 12px 2px rgba(255, 255, 255, 0.247);
  z-index: 4;
  padding: 15px;
}

.info-user.visible {
  display: block;
}

.cntr-one-item__info-user {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: start;
}

.cntr-one-item__info-user .cntr-img__button-nav {
  width: 60px;
  height: 60px;
}

.cntr-one-item__info-user .text__info-user {
  margin-left: 10px;
  font-weight: bold;
}

.cntr-two-item__info-user {
  display: flex;
  width: 100%;
  min-height: 200px;
  height: fit-content;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
}

.cntr-two-item__info-user .text__info-user {
  color: #d1d5db;
  font-size: 14px;
}

.cntr-three-item__info-user {
  display: flex;
  width: 100%;
  height: 35px;
  justify-content: space-around;
}

.items__info-user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img__info-user {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff0d4;
  border-radius: 8px;
  object-fit: cover;
}

.title__info-user {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0px;
}

.button__info-user {
  width: 90%;
  height: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(40, 40, 40);
  color: white;
  border-radius: 4px;
}

.button__info-user:hover {
  background-color: white;
  color: black;
  transition: 250ms;
  font-weight: bold;
  box-shadow: 0px 0px 12px 2px rgba(255, 255, 255, 0.247);
}
